*{
	box-sizing: border-box;
	font-family: "Lucida Sans", sans-serif;
}

body{
	margin:0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header.header{
	height: 100px;
	padding: 10px;
}

.logo{
	float: left;
	height: 80px;
	text-align: center;
}

nav{
	float: right;
	ul{
		float: right;
		list-style-type: none;
		margin:0;
		padding: 0;
		overflow:hidden;
		li{
			float: left;
			a{
				font-size: 14px;
				display: block;
				padding: 31px;
				text-align: center;
				text-decoration: none;
				color: black;
				&:hover{
					background-color: grey;
					color: white;
				}
			}
			
		}
	}
}

video{
	max-width: 100%;
}

img{
	max-width: 80%;
}

#descripcion{
	padding: 25px;
}