*{
	box-sizing: border-box;
}

body{
	margin:0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header.header{
	min-height: 100px;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

.logo{
	float: left;
	height: 80px;
	text-align: center;
}

nav{
	float: right;
	ul{
		float: right;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: inline-block;
		li{
			float: left;
			a{
				font-size: 14px;
				display: block;
				padding: 31px;
				text-align: center;
				text-decoration: none;
				color: black;
				&:hover{
					background-color: grey;
					color: white;
				}
			}
			
		}
	}
}

div#video{
	position: relative;
}

div.logovideo{
	position: absolute;
	text-align: right;
	right: 0;
	top: 0;
}

video{
	max-width: 100%;
}

img{
	max-width: 80%;	
}

#descripcion{
	padding: 25px;
	margin-left: 25%;
	padding-right: 70px;
	font-family: 'Zilla Slab', serif;
	font-size: 22px;
	font-weight: lighter;
}

p.mago{
	font-family: 'Zilla Slab', serif;
}

div.img-mago{
	float: left;
	text-align: center;
	margin-top: 80px;
}

h1.h1c{
	font-family: 'Zilla Slab', serif;
	font-size: 46px;
}

div.cartas{
	padding: 25px;
}

div.carta{
	height: 250px;
	border: 3px solid black;
	border-radius: 10%;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: 40px;
	background-position: center;
	width: 205px;
	display: inline-block;
}

div.barbaros{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/barbaros.jpg");
}

div.esbirros{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/esbirros.jpg");
}

div.lanzabolas{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/lanzabolas.jpg");
}

div.montapuercos{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/montapuercos.jpg");
}

div.mosquetera{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/mosquetera.jpg");
}

div.principe{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/principe.jpg");
}

div.babydragon{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/babydragon.jpg");
}

div.caballero{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/caballero.jpg");
}

div.lanzadardos{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/lanzadardos.jpg");
}

div.valquiria{
	background-image: url("/Users/jaimelimonsamperio/Desktop/frontendClashRoyale/images/valquiria.jpg");
}

footer{
	text-align: center;
	height: 100px;
	background-color: #333;
}

footer h3{
	padding-top: 40px;
	color:white;
}